#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
  keymap0: keymap {
    compatible = "zmk,keymap";

    letters_layer {
      bindings = <
        &kp Q  &kp W  &kp E
        &kp A  &kp S  &kp D
        &kp Z  &kp X  &studio_unlock
      >;
    };
  };
};
